@import 'global-variables.scss';
@import 'elements.scss';

html, body {
	margin: 0;
	padding: 0;
}
html {
	font-size: 24px;
	line-height: 29px;
}
body {
	font: 16px/20px 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.25;
}