<!doctype html>
<html lang="en">

<head>
    <title>Sign in - ForYouToo</title>
    <base href="" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@1,700&family=Montserrat:wght@1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/95de56c5a8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/templates/default/minify/base.css" type="text/css" />
    <link rel="stylesheet" href="/templates/default/css/style.css">
    <link rel="stylesheet" href="/templates/default/css/resp.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/templates/default/js/scripts.js"></script>
    <script src="/templates/default/components/dropzone-5.7.0/dropzone.js"></script>
    <link rel="stylesheet" href="/templates/default/components/dropzone-5.7.0/basic.css">
    <link rel="stylesheet" href="/templates/default/components/dropzone-5.7.0/dropzone.css">
    <link rel="stylesheet" href="/templates/default/minify/layout.css" type="text/css" />
    <link rel="stylesheet" href="/templates/default/minify/form.css" type="text/css" />
    <link rel="stylesheet" href="/templates/default/minify/page.css" type="text/css" />
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body>
    <header class="header">
        <div class="page-container">
            <a class="logo" href="/">ForYouToo</a>
            <div class="pane">
                <nav class="menu">
                    <a class="link">Best offers</a>
                    <a class="link">About us</a>
                </nav>
                <!--a class="phone" href="tel:+18887415949">+18887415949</a-->
                <a class="button post-announce" href="post-ad.html">Post Ad</a>
            </div>
            <div class="mobile-toggle" onclick="toggleMobile(event);"></div>
        </div>
    </header>
    <div class="mobile-pane">
        <nav class="menu">
            <a class="link">Best offers</a>
            <a class="link">About us</a>
        </nav>
        <a class="phone" href="tel:+18887415949">+18887415949</a>
        <a class="button post-announce" href="post-ad.html">Post Ad</a>
    </div>
    <main class="layout-container layout-padding">
        <div class="breadcrumbs">
            <a href="/">Back to Home</a>
        </div>
        <h1>Sign in</h1>

    </main>
    <section class="sigin">
        <div class="layout-container">
            <form class="sign-form">
                <dl class="form-row "> 
                    <dd class="desc form-icon far fa-envelope">
                        <input class="input input-icon" type="text" placeholder="Email" value="">
                    </dd>
                </dl>
                <dl class="form-row">
                    <dd class="desc form-icon icon-lock">
                        <input class="input input-icon" type="text" placeholder="Password" value="">
                    </dd>
                </dl>
                <a class="signin-forgot" href="#">Forgot password?</a>
                <dl class="form-row">
                    <dd class="desc">
                        <div class="element checkbox checkbox-check">
                            <input id="forgot-password" type="checkbox">
                            <label class="forgot-password" for="forgot-password">Keep me signed in</label>
                        </div>
                    </dd>
                </dl>
                <button type="submit" class="element button signin-button">Sign in</button>
            </form>
        </div>
    </section>
    <footer class="footer">
		<div class="footer-container">
            <div class="footer-contacts">
                <a href="#" class="footer-logo">ForYouToo</a>
                <a href="#" class="footer-contact contact-link">Contact Us</a>
                <a href="#" class=" footer-contact about-link">About Us</a>
            </div>
			<div class="footer-links">
                <a href="#" class="footer-link fas fa-phone-alt">647-363-7887</a>
                <a href="#" class="footer-link fas fa-envelope">foryoutoo@gmail.com</a>
                <div class="footer-social">
                    <a href="#"><i class="fa fa-facebook-f"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
            
        </div>
        <div class="footer-copy">
            2020 ForYouToo
        </div>
	</footer>
</body>

</html>